#row1text, #row2text, #row3text{
 color: white;   
}
.alert{
margin-left: auto;
margin-right: auto;
}
.rounded-pill{
    width: 25px;
}
#timer, #countTo{
    color: white;
}

.breadcrumb{
    background-color: black;
    font-family: OldeEnglish;
    font-size: x-large;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  p{color: white;}
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
#RegistrationTitle{
margin-top: 2%;
margin-bottom: 5%;
}

body, label{
background-color: black;
cursor: url("Cursors/Cursor.png"), auto;
}

.mainText{
cursor: url("Cursors/Cursor.png");
margin: 67px;
user-select: none;
}

.card{
    background-color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#ContentList{
    font-family: OldeEnglish;
    font-size: 20px;
    list-style: none;
    color: #fff;
}
#ContentRow::before{
    content: "♰";
}

#ShowGameplay{
    width: 800px;
}

a, button{
    cursor: url("Cursors/CursorGet.png"), auto;
}

@font-face {
    font-family: CloisterBlack;
    src: url("Fonts/CloisterBlack.ttf");
}
@font-face{
    font-family: OldeEnglish;
    src: url("Fonts/OldeEnglish.ttf");
}
a{
    text-decoration:none;
    color: grey;
}
.card{
    margin-top: 50px;
}
.StreetFighterimg{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 308px;
    display: grid;
    position: relative;
    border-width: 5px;

    background: linear-gradient(white, white) padding-box,
    linear-gradient(to left, #DE2F3C, #04D9E9) border-box;
    border-radius: 13%;
    border: 4px solid transparent;
}
#buttonLeftArrow, #buttonRightArrow{
    cursor: pointer;
    position: absolute;
    background-color: #2a2727;
    border: none;
    color:#fff;
    border-radius: 45px;
    width: 45px;
    height: 45px;
}


#buttonRightArrow{
    position: absolute;
    top: 46.6%;
    left: 2%;
}
#buttonLeftArrow{
    position: absolute;
    top: 18%;
    right: 1%;
}

h1, h2, h3, h4, h5, h6{
    font-family: CloisterBlack;
    color: white;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px white, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}
h1{
    font-size: 80px;
}
h3{
    font-size: 30px;
}
.audioOpening{
    margin: 3%;
}
#rightarrowShowGameplay{
    position: absolute;
    top: 0%;
    left: 82%;
    border-top-right-radius: 65px;
    border-bottom-right-radius: 65px;
}
#leftarrowShowGameplay{
    position: absolute;
    top: 0%;
    right: 82%;
    border-top-left-radius: 65px;
    border-bottom-left-radius: 65px;
}
.main-heading{
    color: white;
}
ul{
    color: white;
}
hr.nongoth{
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, black, #e60073, black);
}
hr{
    margin: 20px;
}
hr.goth{
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, black, #e60073, black);
  }
hr.goth::after{
    content: '⸸';
    font-size: 30px;
    margin-top: -27px;
    position:absolute;
    left: 50%;
    transform-origin: 50% 50%;
    padding: 1px;
    background-color: black;
    color: white;
}
.navbar-collapse{
font-family: OldeEnglish;
width: 97%;
text-align: center;
display: flex;
justify-content:space-around;
font-size: 30px;
position: static;
padding: 1%;
border-style: solid;
border-width: 1px;
border-image: 
    linear-gradient(
      to top, 
      #e60073, 
      black
    ) 1 100%;
border-radius: 15px;
margin: 1%;
}
